@import "bootstrap.css";
@import "../../materialize-src/sass/materialize.scss";
/** aqui termina el import**/
/**style*/
*{
	font-style: roboto;
}
$main-color:#388e3c;

@mixin list($list-hover) {
}
nav ul li{
	padding: 8px !important;
}

.navbar{
	margin-bottom: 0px;
	.navbar-nav > li > a{
		color:white;
		&:hover{
			background-color: white;
			color: $main-color;
			font-weight: bold;
		}
	}
}
.background{
	background-image: url(../img/carousel-bg.jpg);
	width: 100%;
	background-size: cover;
	padding: 2% 2% 5% 2%;
	text-align: center;
	h1{
		color: white;
		font-size: 50px;
	}
	h5{
		color: white;
		font-size: 23px;
	}
}
hr{
	width:30%;
	text-align: center;
	margin-bottom: 30px;
}
.palette{
	text-align: center;
}
@mixin color-caja ($background){
	background-color: $background;
	width: 150px;
	height: 150px;
	display: inline-block;
	&:hover{
		color: white;
		font-weight: bold;
		background-color: darken($background, 10%);
	}
}
.colores{
	text-align: center;
}
.box1{
	@include color-caja(#69d2e7);
}
.box2{
	@include color-caja(#a7dbdb);
}
.box3{
	@include color-caja(#e0e4cc)
}
.box4{
	@include color-caja(#f38630)
}
.box5{
	@include color-caja(#fa6900)
}
.box6{
	@include color-caja(#E94C6F);
}
.box7{
	@include color-caja(#542733);
}
.box8{
	@include color-caja(#5A6A62)
}
.box9{
	@include color-caja(#C6D5CD)
}
.box10{
	@include color-caja(#FDF200)
}
.box11{
	@include color-caja(#DB3340);
}
.box12{
	@include color-caja(#E8B71A);
}
.box13{
	@include color-caja(#F7EAC8)
}
.box14{
	@include color-caja(#1FDA9A)
}
.box15{
	@include color-caja(#28ABE3)
}
.box16{
	@include color-caja(#588C73);
}
.box17{
	@include color-caja(#F2E394);
}
.box18{
	@include color-caja(#F2AE72)
}
.box19{
	@include color-caja(#D96459)
}
.box20{
	@include color-caja(#8C4646)
}
.box21{
	@include color-caja(#D0C91F);
}
.box22{
	@include color-caja(#85C4B9);
}
.box23{
	@include color-caja(#008BBA);
}
.box24{
	@include color-caja(#DF514C);
}
.box25{
	@include color-caja(#DC403B);
}
.background-gray{
	background-color: #282D43;
	color: white;
	padding: 5% 0% 5% 0%;
	h3{
		text-align: center;
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 15px;
	}
	img{
		max-width: 100%;
	}
	h4{
		font-size: 15px;
	}
	.progress{
		height: 10px;
	}
	h6{
		text-align: center;
		margin-bottom: 30px;
	}
}
.bg-green{
	background-color: $main-color;
	text-align: center;
	color: white;
	padding: 5% 0% 5% 0%;
	.container{
		width: 90%;
		h6{
			margin-bottom: 40px;
		}
		.giro-360 {
			padding: 60px;
			hr{
			width: 100%;
			}
		    &:hover{
		    	background-color: darken($main-color, 20%);
		    }
			img {
				width: 50%;
			    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
			    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
			    -webkit-transition: all 1s ease-out;
			    -moz-transition: all 1s ease;
			    -o-transition: all 1s ease;
			  	&:hover {
				    -webkit-transform: rotate(-360deg);
				    -moz-transform: rotate(-360deg);
				    -o-transform: rotate(-360deg);
				}
			}
		}
		button{
			background-color: #4A4A4A;
			&:hover{
				color: $main-color;
			}
		}
		.iconos{
			.img-rounded{
				display: inline-block;
				background-color: white;
				height:25px;
				width: 25px;
				margin: 5px;
				padding-top: 4px;
				i{
					color: $main-color;
					font-size: 15px;
				}
			}
		}
	}
}
.prices{
	text-align: center;
	border: 1px solid $main-color;
	padding: 20px 0px 20px 0px;
	&:hover{
		margin-top: -40px;
	}
	p{
		background-color: white;
		color: black;
	}
	h5{
		font-size: 15px;
	}
	button{
			background-color: #4A4A4A;
			&:hover{
				color: white;
				background-color: lighten(#4A4A4A,10%);
			}
		}
}